<header>
    <nav class="menu navbar navbar-expand-lg ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Historia</a>
              <a class="nav-link" href="#">Integrantes</a>
              <a class="nav-link">Canciones Populares</a>
              <a class="nav-link">Albums</a>

            </div>
          </div>
        </div>
      </nav>
</header>