<app-menu></app-menu>

<div class="mario">
    <app-componente1></app-componente1> 
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    <app-componente1></app-componente1>
    


   <!-- Gorro -->
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1> 
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>


   <app-componente1></app-componente1>
   <app-componente1></app-componente1> 
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente2></app-componente2>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1> 
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   
   
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1>
   <app-componente1></app-componente1> 
   <app-componente1></app-componente1>
   <app-componente5></app-componente5>
   <app-componente5></app-componente5>
   <app-componente5></app-componente5>
  




</div>